@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__square-pic {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 64px;
    right: 0px;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    animation: rotation 20s linear infinite;
  }