.header {
    background-color: #f2f2f2;
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    overflow: hidden;
    /* выше установили ограничения для секции */
  }