.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 0;
    /*color: #2f80ed;
    font-size: 18px;
    font-weight: normal;
    width: 175px;*/
  }