.header__title {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    position: static; /*Изменен с relative на static*/
    /*left: 64px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 730px;
    z-index: 4;
    margin: 0 0 0 64px;
    padding: 0;
  }