.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  max-height: 32px;
  z-index: 4;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: static; /*Изменен с relative на static*/
  /*left: 64px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 730px;
  z-index: 4;
  margin: 0 0 0 64px;
  padding: 0;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 4;
  margin: 0;
}

.header__link {
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 4;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
  /*color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  width: 175px;*/
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0 0 30px;
  padding: 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 0 auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 100px;
  padding: 0;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
	padding: 0;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
}

.feynman__head {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 867px;
  height: 637px;
}

.feynman__title {
  z-index: 3;
  margin: 100px 0 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  z-index: 3;
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 4;
  text-decoration: none;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  /*color: white;*/
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark {
  z-index: 4;
  margin: 90px auto 20px;
  color: white;
}

.section-subtitle_theme_dark {
  z-index: 4;
  color: white;
}

.table_theme_dark {
  z-index: 4;
  align-items: flex-start;
  align-content: space-between;
  margin: 0 auto 90px;
  color: white;
}

/* и элемента с модификатором вида ключ-значение*/
.table__cell_theme_dark {
  z-index: 4;
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  z-index: 4;
}

.table__text_theme_dark {
  z-index: 4;
  padding: 0;
}

.kaufman__triangle {
  z-index: -1;
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  top: 0;
  right: -210px;
  background-size: 99%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 60px 0 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0;
  padding: 0;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__columns_footer_author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  display: block;
  margin: 0;
  padding: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
	padding: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__column_content_social {
  display: block;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  /*margin-bottom: 10px;*/
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
