.khan__buy-link {
    display: block;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    z-index: 4;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.khan__buy-link:hover {
    opacity: 0.6;
}
